/**
 *    SPDX-License-Identifier: Apache-2.0
 */
body {
  background-color: #f0f5f9;
  background: #f0f0f0;
  line-height: normal;
  font-size: 16px;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
.selectDate {
  width: 250px;
  margin: 2%;
}
.border-red {
  color: red;
}
.validator {
  margin: 37px;
}
#root > div > div:nth-child(1) > nav > a {
  font-size: 30pt;
  /* margin-left: 670px; */
  font-weight: 300;
}
/*Navbar styling*/
#root > div > div:nth-child(1) > nav {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 75px;
}
.ml-auto li {
  height: 50px;
  line-height: 50px;
}

button:focus {
  outline: none !important;
}

/* Navigation bar */
div.menuItems > nav > ul {
  margin-left: 160px !important;
}
div.menuItems > nav > ul > li {
  padding-left: 100px;
  padding-right: 60px;
  font-size: 16pt;
  color: #bfbfbf;
}
.menuItems > nav > ul > li.active {
  color: #22313f;
  font-weight: bolder;
}
div.menuItems > nav {
  border-top: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
}

/*Scroll Bar Styling*/
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* Table and List  */
#root
  > div
  > div.App
  > div
  > div:nth-child(1)
  > div
  > div:nth-child(2)
  > div
  > table {
  min-width: 970px;
  border: 1px #bdc3c7 solid;
}
.table thead th {
  border-bottom-color: #bdc3c7 !important;
}

#root
  > div
  > div.App
  > div
  > div:nth-child(1)
  > div
  > div:nth-child(2)
  > div
  > table
  th
  > tbody
  td {
  border-color: #bdc3c7 !important;
}

.fixed-header thead > tr {
  position: relative;
}

svg.custom .node circle {
  fill: #f3f3ff;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

svg.custom .node text {
  font-size: 14px;
  background-color: #444;
  /* fill: #F4F4F4; */
  fill: #000000;
  /* text-shadow: 0 1px 4px black; */
}

svg.custom .node {
  cursor: pointer;
}

svg.custom path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  transition: background-color 1s ease;
  background-color: #53b4b1;
  opacity: 0.8;
}
tr {
  border-style: hidden !important;
}
th {
  font-weight: bold;
}
.table th,
.table td {
  padding: 5px;
}

.selectDate {
  width: 250px;
  margin: 2%;
}

.col-md-1,
.col-md-2 {
  padding-right: 6px !important;
  margin-top: 20px;
}

.dash-section {
  height: 335px;
  margin-bottom: 2%;
}
.org-pie {
  padding-left: 10%;
}
.pie-chart {
  top: -30px;
}
.dash-view {
  padding-top: 85px;
  padding-left: 0px !important;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-top: 85px;
    padding-left: 0px!important;
    width: 100%; */
}
.background-view {
  background-color: #f0f5f9;
}
.navbar-header {
  background-color: #e8e8e8 !important;
}
.footer {
  background-color: #e8e8e8;
  text-align: center;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}
.footerView {
  margin: 2% !important;
}
.statistic {
  display: block;
  float: left;
  height: 100%;
  /* border: 3px #DFF1FE solid; */
  width: 25%;
  text-align: center;
  font-size: 18pt;
  color: #000000;
}

.stat-count {
  margin-top: 55%;
}
.stat-avatar {
  justify-content: center;
  margin-left: 60%;
  margin-top: 65%;
  /* width: 55% !important;
    height: 55%!important; */
}
.avatar-tx {
  color: #ffa686 !important;
  background-color: #ffeed8 !important;
}
.avatar-block {
  color: #004d6b !important;
  background-color: #b9d6e1 !important;
}
.avatar-node {
  color: #21295c !important;
  background-color: #858aa6 !important;
}
.avatar-chaincode {
  color: #407b20 !important;
  background-color: #d0ecda !important;
}
/* Switch Theme */
.sunIcon {
  color: rgb(245, 185, 47);
}
.moonIcon {
  color: rgb(104, 195, 245);
}
/*Time Chart and Chart stats */
.recharts-layer {
  fill: #5bc5c2 !important;
}
.recharts-scatter-line {
  stroke: #5bc5c2 !important;
  stroke-width: 2 !important;
}
/*Hiding/Showing hash tooltip on hover*/
.hashCell,
.hashCell li {
  overflow: visible !important;
}
.partialHash,
.partialHashes {
  text-align: center;
  position: relative !important;
}

.partialHash:hover .fullHash,
.partialHashes:hover .fullHash {
  display: block;
  position: absolute !important;
  padding: 4px 4px;
  background-color: #000000 !important;
  margin-top: -30px;
  margin-left: -215px;
  border-radius: 8px;
  color: #ffffff;
}
.MuiCard-root-62,
.MuiCard-root-66 {
  overflow: visible !important;
}
.partialHash:hover .lastFullHash {
  margin-left: -400px !important;
}
.fullHash {
  display: none;
}
/* Copy Tooltip*/
.copyMessage {
  display: none;
}
.copiedMessage {
  display: none;
}
.copyBtn:hover .copyMessage {
  display: block;
  position: absolute !important;
  padding: 0;
  background-color: transparent;
  font-size: 10px;
  margin-top: -10px;
}
.copyBtn:active copiedMessage {
  display: block;
  position: absolute !important;
  padding: 0;
  background-color: transparent;
  margin-top: -30px;
}
/* Change Channel Loader */
.channel-loader {
  text-align: center;
  padding: 20px;
}
.loader {
  margin: 0 auto;
  width: 100px;
}
.error {
  margin-top: 50px;
  margin-bottom: -95px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

/*Error Handling*/
.errorContainer {
  margin-top: 10%;
}
.errorHeader {
  color: #58c5c2 !important;
  font-size: 12em;
  text-align: center;
  height: 220px;
}
.errorSubHeader {
  font-size: 4em !important;
  text-align: center;
}
.errorContent {
  text-align: center;
}
.errorIcon {
  size: 30px 30px;
  text-align: center;
  color: #f9be53;
  font-size: 80%;
}
