@import '0_bluemix-colors-6.7.0';

#logButtonWrap{
	margin: auto;
	text-align: center;
}
.peerLogIcon{
	width: 14px;
	height: 19px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.peerLogButton{
	display: inline-block;
	margin: 10px;
}

.logButtonTitle{
	background: $color__navy-gray-2;
	display: inline-block;
	width: 200px;
	color: $color__white;
	padding: 12px;
	margin-right: -10px;
	border: 2px solid $color__blue-30;
	height: 40px;
	vertical-align: bottom;
	margin-bottom: 10px;
	font-size: 14px;
}