[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	read = group GitHub Replication
[project]
	description = Blockchain Explorer
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	pushTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	pushSignedTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
