[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	read = deny group GitHub Replication
[project]
	description = Blockchain Explorer\n\nMarked as read only IT-18273
	state = read only
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	createTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	createSignedTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-blockchain-explorer-committers
[access "refs/for/refs/heads/*"]
	pushMerge = group ldap/hyperledger-gerrit-blockchain-explorer-committers
