[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	read = group GitHub Replication
	create = group ldap/hyperledger-gerrit-blockchain-explorer-committers
[project]
	description = Blockchain Explorer
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	createTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
	createSignedTag = group ldap/hyperledger-gerrit-blockchain-explorer-committers
