extends ../templates/bare

block js
	script.
		$(document).on('ready', function() {
			
		});

block content
	#mainPanel100
		
		br
		br
				
		center
			h1 #{lang.logout_title}
		
		.errorMsgWrap
			p #{lang.logout_msg}
