extends ../templates/bare

block js
	script.
		$(document).on('ready', function() {
			
		});

block content
	#mainPanel100
		
		br
		br
				
		center
			h1 OK
		
		.errorMsgWrap
			p You are logged out
