#logs_content

	// ============ Peer Log List ============ //
	#logButtonWrap
		h3 #{lang.logs_title}
		.loadingdiv(style="display:block;")#demo_loading
			span
			span
			span
			span
			span
			div
