#logs_content

	// ============ Peer Log List ============ //
	#logButtonWrap
		h3 Discovering peers...
		.loadingdiv(style="display:block;")#demo_loading
			span
			span
			span
			span
			span
			div
