#support_content
	.mainContentWrap
		.thinTxtWrap
			h2.thinBorder FAQs
			span A list of
			svg.linkArrow
				use(xlink:href="/img/icons/sprite.svg#common--previous")
			a(href="https://github.com/hyperledger/hyperledger/wiki/Frequently-Asked-Questions-(FAQ)" target="_blank") frequently asked questions
			span &nbsp;on our blockchain service.

		.thinTxtWrap
			h2.thinBorder Community
			span Connect with the community on
			svg.linkArrow
				use(xlink:href="/img/icons/sprite.svg#common--previous")
			a(href="https://developer.ibm.com/answers/search.html?f=&type=question&redirect=search%2Fsearch&sort=relevance&smartspace=&q=blockchain" target="_blank") IBM Developer Works
			//span &nbsp;where you can post questions.
			
			br
			br

			span Get the latest
			svg.linkArrow
				use(xlink:href="/img/icons/sprite.svg#common--previous")
			a(href="https://github.com/hyperledger/fabric" target="_blank") Hyperledger
			span &nbsp;code from GitHub.

		.thinTxtWrap
			h2.thinBorder Support Ticket
			span Generate a
			svg.linkArrow
				use(xlink:href="/img/icons/sprite.svg#common--previous")
			a(href="https://github.com/IBM-Blockchain/ibm-blockchain-issues/issues" target="_blank") support ticket 
			span &nbsp;describing your issues regarding you blockchain service.

		.thinTxtWrap
			h2.thinBorder Blockchain Sample Applications
			span Browse our 
			svg.linkArrow
				use(xlink:href="/img/icons/sprite.svg#common--previous")
			a(href="https://github.com/ibm-blockchain/" target="_blank") sample applications 
			span &nbsp;on GitHub to get you started on building your own blockchain applications.
