extends ../templates/bare

block js
	script(src="/js/concat/main.js?v=#{jshash}")

block content
	include ../templates/nav
	
	#mainPanel
		// ============ Loading Spinner ============ //
		#loadingSpinner.loadingdiv
			span
			span
			span
			span
			span
			div
	
		// ============ Header Content ============ //
		include ../templates/header

		#loadingPageWrapper
			br
			h3 Loading monitor...
			#singlePageSpinner.loadingdiv
				span
				span
				span
				span
				span
				div

		// ============ Main Content ============ //
		include ./tab_blockchain

		include ./tab_demo_cc

		include ./tab_logs

		include ./tab_network

		include ./tab_service_status

		include ./tab_support
